/* Widget Code CSS*/
.widget-code {
    cursor: pointer;
	position: relative;
	color: whitesmoke;
	font-family: monospace;
}

.widget-details-row {
	max-height: 90vh !important;
}

.widget-details-sidebar {
	max-height: inherit;
	overflow-y: hidden;
}

.widget-details-form {
	max-height: inherit !important;
	overflow-y: auto;
}