// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue MultiSelect Styling
@import url('https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css');


body{
	background:  #e9edee;
}


.navbar{
	margin-bottom: 0px !important;
	background:  #466289;
}

.row{
	position:relative;
}
.navbar-logo{
    max-width: 120px;
    margin:0px;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  font-size: 1.1rem;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: /*rgba(0, 0, 0, 0.7)*/#FA6121;
  background: lightgray;
  border-radius: 3px;
}

/*MAIN SIDEBAR MENU*/
.mainsidebar {
  margin: 0;
  padding: 0;
  background-color: #466289;
  height: 92vh;
  overflow: auto;
}


/* Sidebar links */
.mainsidebar a {
  
  color: whitesmoke;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  margin-left:10px;
}

.menutitle{
	font-size: 17px;
}

/* Active/current link */
.mainsidebar a.activemenu {
  background-color: #627894;
  color: whitesmoke;

  border-radius: 10px 0px 0px 10px;
}

/* Links on mouse-over */
.mainsidebar a:hover:not(.activemenu) {
  background-color: #627894;
  color: #e9edee;
  border-radius: 10px 0px 0px 10px;
  transition: 0.18s linear;
}


/*MESSAGE LIST MENU*/
.sidebar {
	padding-left: 30px;
	padding-top: 20px;
  background-color: #627894;
  height: 92vh;
}

.subtitle{
	font-size: 1.2em;
	font-weight:  500;
	color: #e9edee;

}

.sidebartitle{
	padding-top: 20px;


}

.sidebar::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 2px 0;
  background-color: #e9edee;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}

.sidebar .block{
	position: relative;
	width:  100%;
	display: flex;
	align-items:  center;
	padding-left:  15px;
	padding-right:  15px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(233,237,238,0.05);
	cursor:  pointer;
	border-radius: 10px 0px 0px 10px;
	color:whitesmoke;

}

.sidebar .block:hover{
	background:#E9EDEE;
	transition: 0.18s linear;
	color:#627894;
}


.sidebar .incoming{
	background: #FA6121;
}



.sidebar .active{
	background: #E9EDEE;
}

.sidebar .block .details{
	position:  relative;
	width: 100%;
}

.sidebar .block .details .listHead{
	display: flex;
	justify-content:  space-between;
}

.listHead p{
	font-size: 1em;
	font-weight:  600;
	margin-bottom:0px;

}



.active .listHead p{
	font-size: 1em;
	font-weight:  600;
	color: #627894;

}


.message_p {
	display: flex;
	justify-content:  space-between;
	align-items: center;

}

.message_p p{
	font-size:  0.9em;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient:  vertical;
	overflow: hidden;
	text-overflow: ellipsis;

}

.active .message_p p{
	color: #627894;
}




/*MAIN CHAT AREA*/
.mainchat {
  background-color: #e9edee;
  height: 92vh;
  position: relative;
}

.chatmessages{
	margin-top: 20px;
}

.chatboxfix{
	height: 70vh;
}

.chatboxfix::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 2px 0;
  background-color: #e9edee;
}

.chatboxfix::-webkit-scrollbar {
  width: 10px;
}

.chatboxfix::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}




.receivedmessage{
position:  relative;
	display:  flex;
	width:  100%;
	padding: 2px;
	color: #466289;
}

.sentmessage{
position:  relative;
	display:  flex;
	width:  100%;
	padding: 2px;
	color: #fa6121;
	
}


.chatbox_input{
	position: absolute;
	bottom: 0px;
	width: 98%;
	height: 100px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.chatbox_input input{
	
	border:  none;
	outline:  none;
	border-radius: 15px;
	font-size:  1em;
	height:80px;
}

//WHISPER COMPONENTS
#whisper input{
	background-color: #fa6121;
	color: whitesmoke;

}

#whisper ::placeholder{
	
	color: whitesmoke;
	
}

.whisper{
	color: #fa6121;
	border: 0px;
	background-color: #e9edee;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  margin-left:10px;
  cursor: pointer;
}


.whisper2{
	color: #627894;
	border: 0px;
	background-color: #e9edee;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  margin-left:10px;
  cursor: pointer;
}

.whisper_text{
	color: darkgrey;
	font-style: italic;
}

// ADDITIONAL MODAL FORMATTING

.add-modal-container{
	font-size: var(--bs-body-font-size);
	color:#212529;
}


//LOGIN AND REGISTRATION

.cardheader{
	color:#466289;
	font-size:1.5rem;
	font-weight:600;
	margin-left:20px;
}

.subtitlelogin{
	color:#466289;
	font-size:0.9rem;
	margin-left:20px;
}

.labelLogin{
	font-size:1rem;
	color: #466289;
	margin-left:10px;
  width: 150px;
}

.labelRegister{
	font-size:1rem;
	color: #466289;
	margin-left:10px;
  width: 160px;
}

.login{
	margin-top:20px;
	background: #e9edee;
	border: none;
	padding:  15px 15px;
	justify-content: left;
	
}

.loginbutton{
	background-color:#466289;
	color:whitesmoke;
	border:none;
	border-radius:10px;
	padding:5px;
	margin:5px;
	margin-top: 20px;
	width:50%;
	font-size:1rem;
}

.loginbutton:hover{
	background-color:#FA6121;
	color:white;
	border:none;
	border-radius:10px;
	padding:5px;
	margin:5px;
	margin-top: 20px;
	width:50%;
	font-size:1rem;
}

.logintext{
	padding:5px;
	width:30vh;
	border: 1px solid #989898;
	border-radius: 4px;
	font-size:14px;
	color:black;
}

// Import Widgets Page Style
@import "widgets-page";