// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue MultiSelect Styling
@import url('https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css');


body{
  background:  #e9edee;

}


.navbar{
  margin-bottom: 0px !important;
  background:  #466289;
}

.row{
  position:relative;
}
.navbar-logo{
    max-width: 120px;
    margin:0px;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  font-size: 1.1rem;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: /*rgba(0, 0, 0, 0.7)*/#FA6121;
  background: lightgray;
  border-radius: 3px;
}

/*MAIN SIDEBAR MENU*/
.mainsidebar {
  margin: 0;
  padding: 0;
  background-color: #466289;
  height: 92vh;
  overflow: auto;
}


/* Sidebar links */
.mainsidebar a {

  color: whitesmoke;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  margin-left:10px;
}


@media screen and (min-width: 1001px) {
  .menutitle{
  font-size: 0.9vw;
	}

	.main-menu-icon{
	font-size:1vw;
	}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  .menutitle{
  display:none;
}
}

/* Active/current link */
.mainsidebar a.activemenu {
  background-color: #627894;
  // color: whitesmoke;

  border-radius: 10px 0px 0px 10px;
}

/* Links on mouse-over */
.mainsidebar a:hover:not(.activemenu) {
  background-color: #627894;
  // color: #e9edee;
  border-radius: 10px 0px 0px 10px;
  transition: 0.18s linear;
}


/*MESSAGE LIST MENU*/
.sidebar {
  padding-left: 30px;
  padding-top: 20px;
  background-color: #627894;
  height: 92vh;

}


.subtitle{
  font-size: 1.2em;
  color: #e9edee;
  font-weight:500;
	}


.sidebartitle{
  padding-top: 20px;
}

.unreadnotif{
	background:#fa6121 ;
	color: #fff;
	min-width:  20px;
	height:  20px;
	border-radius: 50%;
	display: flex;
	justify-content:  center;
	align-items: center;
	font-size:  0.75em;
}


.activesessions{
  max-height: 30vh;
}

.activesessions::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  background-color: #e9edee;
}

.activesessions::-webkit-scrollbar {
  width: 0px;
}

.activesessions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #627894;

}

.incomingsessions{
 	max-height:20vh;
}

.incomingsessions::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  background-color: #e9edee;
}

.incomingsessions::-webkit-scrollbar {
  width: 0px;
}

.incomingsessions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #627894;

}

.inactivesessions{
  max-height: 30vh;
  position:relative;
  bottom:0;
}

.inactivesessions::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  background-color: #e9edee;
}

.inactivesessions::-webkit-scrollbar {
  width: 0px;
}

.inactivesessions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #627894;

}


.sidebar .block{
  position: relative;
  width:  100%;
  display: flex;
  align-items:  center;
  padding-left:  15px;
  padding-right:  15px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(233,237,238,0.05);
  cursor:  pointer;
  border-radius: 10px 0px 0px 10px;
  color:whitesmoke;

}

.sidebar .block:hover{
  background:#E9EDEE;
  transition: 0.18s linear;
  color:#627894;
}


.sidebar .incoming{
  background: #FA6121;
}



.sidebar .active{
  background: #E9EDEE;
}

.sidebar .block .details{
  position:  relative;
  width: 100%;
}

.sidebar .block .details .listHead{
  display: flex;
  justify-content:  space-between;
}

.listHead p{
  font-size: 1em;
  font-weight:  600;
  margin-bottom:0px;

}



.active .listHead p{
  font-size: 1em;
  font-weight:  600;
  color: #627894;

}


.message_p {
  display: flex;
  justify-content:  space-between;
  align-items: center;

}

.message_p p{
  font-size:  0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient:  vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.active .message_p p{
  color: #627894;
}




/*MAIN CHAT AREA*/
.mainchat {
  background-color: #e9edee;
  height: 92vh;
  position: relative;
}

.assignedmembers{
  font-weight: 600; 
  font-style: italic; 
  color:darkgrey; 
  font-size:15px; 
}

.chatmessages{
  padding:20px;
  margin-top:20px;
}

.chatboxfix{
  height: 68vh;
}


.chatboxfix::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 2px 0;
  background-color: #e9edee;
}

.chatboxfix::-webkit-scrollbar {
  width: 2px;
}

.chatboxfix::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: darkgrey;

}


.receivedmessage{
position:  relative;
  display:  flex;
  width:  100%;
  color: #466289;
  padding-right:20px;
}

.sentmessage{
  position:  relative;
  display:  flex;
  width:  100%;
  color: #fa6121;
  padding-right:20px;
}

.whisper_text{
  color: darkgrey;
  font-style: italic;
  padding-right:20px;
}


.chatbox_input{
  position: absolute;
  bottom: 0px;
  width: 97%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.joinbutton{
  position: absolute;
  bottom: 10px;
  width: 97%;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fa6121;
  color:#e9edee;
  border:0px;
  border-radius:10px;
  font-size:30px;

}

.joinroom{
  margin-left: auto;
  margin-right: auto;
}

.itsrelative{
  position: relative;
}

.chatbox_input input{

  border:  none;
  outline:  none;
  border-radius: 15px;
  font-size:  1em;
  height:80px;
}

//WHISPER COMPONENTS
#whisper input{
  background-color: darkgray;
  color: whitesmoke;

}

#whisper ::placeholder{

  color: whitesmoke;

}

ion-icon {
 pointer-events: none;
}

.whisper{
  color: #fa6121;
  border: 0px;
  background-color: #e9edee;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}


.whisper2{
  color: #627894;
  border: 0px;
  background-color: #e9edee;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}


//MESSAGE HISTORY MODAL COMPONENTS

.historyblock{
  position: relative;
  width:  100%;
  border-bottom: 1px solid rgb(233,237,238);
  cursor:  pointer;
  border-radius: 10px;
  padding:15px;
  text-align:left;
  border:none;
  background:white;
  font-size:0.9em;
  p{
    color:#627894;
    margin-bottom:0px;
  }
  
  span{
    font-weight:600;
    color:#466289;
  }

}

.historyblock:hover{
  background:#E9EDEE;
  transition: 0.18s linear;
  p{
  color:#fa6121;
  }
  
}

.chathistorybutton{
  border:none;
  font-size:1.3em;
  margin:10px 0px 0px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:100%;
}

.chathistorybutton:hover{
  background:#fa6121;
  color:#e9edee;
}

.historydetails {
  font-size: 13px;
  color:darkgrey;
  display: flex;
}


//FILE UPLOAD COMPONENTS
.file-upload-button{
  color: #fa6121;
  border: none;
  background-color: #e9edee;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.UploadButton {      
  border: none;
  background-color: #e9edee;
}

.UploadField {
  background:white;
  margin-top:10px;
  padding-bottom:0px;
  margin-bottom:0px;
  height:500px;
}

.UploadAndSendBtn {
  background-color: #466289;
  color: whitesmoke;
  border: none;
  padding: 5px;
  width: 50%;
}

.UploadAndSendBtn:hover{
  background-color:#fa6121;
  color: whitesmoke;
  border: none;
  padding: 5px;
  width: 50%;
}

.FileUploadModal-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 0.75rem;
}

.FileUploadModal-actions > .btn {
  flex: 1; 
}


//CHAT HISTORY COMPONENTS


.chathistoryfull{
  background-color: #e9edee;
  margin: 0;
  padding: 0;
  padding-right:20px;
  padding-left:10px;

}

.chathistory{
  padding:10px;
  border:lightgrey;
  background-color:white;
  color:#627894;
  border-radius:10px;

}

.chathistorylist{
	height:65vh;
}

.chathistorylist::-webkit-scrollbar-track {
  border: 1px solid white;
  padding: 2px 0;
  background-color: white;
}

.chathistorylist::-webkit-scrollbar {
  width: 3px;
}

.chathistorylist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}


// ADDITIONAL MODAL FORMATTING

.add-modal-container{
  font-size: var(--bs-body-font-size);
  color:#212529;
}

//REPORTS
.reportsSection{
  height: 92vh;
}
.reportsSection::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 2px 0;
  background-color: #e9edee;
}

.reportsSection::-webkit-scrollbar {
  width: 5px;
}

.reportsSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}

.livesession{
  height:21vh;
}



.livesession::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 1px 0;
  background-color: #e9edee;
}

.livesession::-webkit-scrollbar {
  width: 5px;
}

.livesession::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}


.reportblock{
  position: relative;
  width:  100%;
  display: flex;
  align-items:  center;
  padding-left:  15px;
  padding-right:  15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(233,237,238,0.05);
  cursor:  pointer;
  border-radius: 10px 0px 0px 10px;
  

  a{
    color:whitesmoke;
    text-decoration:none;
  }

}

.reportblock:hover{
  background:#E9EDEE;
  transition: 0.18s linear;

  a{
    color:#627894;
    text-decoration:none;
  }
  
}

.reportsection{
  margin-top:20px;
}

.graphsection{
  height:50px;
}


.chat-container {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 1cm;
}

#chat-container-table {
    width: 100%;
    margin-top: 1cm;
}

#chat-container-table thead {
    height: 40px;
    background-color: #F7F7F9;
}

#chat-container-table tbody tr {
    border-bottom: 1px solid;
}

//LOGIN AND REGISTRATION

.cardheader{
  color:#466289;
  font-size:1.5rem;
  font-weight:600;
  margin-left:20px;
}

.subtitlelogin{
  color:#466289;
  font-size:0.9rem;
  margin-left:20px;
}

.labelLogin{
  font-size:1rem;
  color: #466289;
  margin-left:10px;
  width: 150px;
}

.labelRegister{
  font-size:1rem;
  color: #466289;
  margin-left:10px;
  width: 160px;
}

.login{
  margin-top:20px;
  background: #e9edee;
  border: none;
  padding:  15px 15px;
  justify-content: left;

}

.loginbutton{
  background-color:#466289;
  color:whitesmoke;
  border:none;
  border-radius:10px;
  padding:5px;
  margin:5px;
  margin-top: 20px;
  width:50%;
  font-size:1rem;
}

.loginbutton:hover{
  background-color:#FA6121;
  color:white;
  border:none;
  border-radius:10px;
  padding:5px;
  margin:5px;
  margin-top: 20px;
  width:50%;
  font-size:1rem;
}

.logintext{
  padding:5px;
  width:30vh;
  border: 1px solid #989898;
  border-radius: 4px;
  font-size:14px;
  color:black;
}

// Import Widgets Page Style
@import "widgets-page";


//Chat Widgets Page
.chat-header{
  color:#e9edee;
}

.widget-details-container{
  position:relative;
}

.widget-save{
  
  position: relative;
  bottom: 0px;
  width: 98%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.widget-save-button {
    color: #FA6121;
    border-radius: 10px;
    border:0px;
    padding:10px;
    font-size:.95rem;
    font-weight:600;
}

.widget-save-button:hover {
    color: whitesmoke;
    background:#FA6121;
}

.chat-subheader{
  color:#e9edee;
  margin-top:30px;
}

.chat-subheader-3{
  color:#e9edee;
  margin-top:30px;
}

.scheduler-scroll{
  height:30vh;
}

.scheduler-scroll::-webkit-scrollbar-track {
  border: 1px solid e9edee;
  padding: 2px 0;
  background-color: #627894;
}

.scheduler-scroll::-webkit-scrollbar {
  width: 3px;
}

.scheduler-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fa6121;
  
}


.no-widget-prompt{
  color:#e9edee;
  padding: 50px;
}

.chat-label {
  display: inline-block;
  width: 200px;
  text-align: left;
  padding-right:10px;
  font-size:1rem;
  color:#e9edee;
}

.chat-label2 {
  display: inline-block;
  width: 150px;
  text-align: left;
  padding-right:10px;
  font-size:1rem;
  color:#e9edee;
}

.chat-label-2 {
  display: inline-block;
  text-align: left;
  font-size:.8rem;
  color:#e9edee;
}

.chat-subheader-2{
  display: inline-block;
  width: 200px;
  text-align: left;
  padding-right:10px;
  font-size:1rem;
  color:#e9edee;
}

.marginallowance2{
  margin-top:50px;
}

.marginallowance{
  margin-top:40px;
}

.chat-label-sliders {
  display: inline-block;
  font-size:.9rem;
}

.widget-code{
  height:230px;
  border-radius:10px;
  margin-left:10px;
}

.widget-code::-webkit-scrollbar-track {
  border: 0px;
  padding: 2px 0;
  background-color: #627894;
}

.widget-code::-webkit-scrollbar {
  width: 5px;
}

.widget-code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fa6121;
  
}

.widget-block{
  position: relative;
  width:  100%;
  display: flex;
  align-items:  center;
  vertical-align: middle;
  padding-left:  15px;
  padding-right:  15px;
  padding-top: 15px;
  cursor:  pointer;
  color:whitesmoke;

}

.save-button {
    color: #FA6121;
    border-radius: 0px 10px 10px 0px;
    border:0px;
    background:lightgray;
    padding:5px;
    font-size:.95rem;
}

.save-button:hover {
    color: whitesmoke;
    background:#FA6121;
}


.form-control-widget{
  border-radius: 10px 0px 0px 10px;
  border:0px;
  font-size:.9rem;
}

.form-control-widget-full{
  border-radius: 10px;
  border:0px;
}

//SLIDERS for WIDGET CONTROL
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-right:10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9edee;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #627894;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FA6121;
}

input:focus + .slider {
  box-shadow: 0 0 0px #e9edee;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.timestamp {
  font-size: 0.8em;
}

.timestamp--history {
  color: #3D3E3E;
  padding: 0;
}
